; KA9 BBS & RMS & CHAT config File

SIMPLE                                           ; This set a whole load of paramters to reasonable defaults
NODECALL=N9RZR                                   ; Default node callsign
LOCATOR=EM48tq                                   ; Default node location
LINMAIL                                          ; Enable BBS
LINCHAT                                          ; Enable CHAT

IDINTERVAL=10                                    ; UI broadcast interval (minutes)
IDMSG:                                           ; UI broadcast text
WARPIG 144.390 FLYING BBS over SoCal CA USA from DM14hl launch location
***

CTEXT:                                           ; Connect Message
WARPIG BPQ32 Node.
N9RZR> BBS RMS CHAT CONNECT BYE INFO NODES ROUTES PORTS USERS MHEARD
***

BTINTERVAL=0                                     ; Beacon interval (minutes)
BTEXT:                                           ; Beacon text
;WARPIG BBS & RMS & CHAT.  Connect to N9RZR-31, N9RZR-32 & N9RZR-33.
***

INFOMSG:                                         ; Text for INFO command
This is the LINBPQ Node for the Warpig High Altitude Balloon (HAB).
Warpig is currently IN THE AIR!!
Sysops KA9CQL and N9RZR.
Type BBS to connect to the BBS.
Type RMS to connect to WinLink. (NOT YET IMPLEMENTED)
Type CHAT to connect to CHAT server.
Email ka9cql@gmail.com with any questions.
***

;**********  Port 1 Direwolf **********
PORT
   PORTNUM=1                                     ; Port number
   ID=VHF Packet 1200-baud                       ; PORTS command text
   TYPE=ASYNC                                    ; RS232 connection
   IPADDR=127.0.0.1         ; DIREWOLF
   TCPPORT=8001             ; DIREWOLF
   SPEED=19200
   CHANNEL=A                                     ; TNC channel
   MAXFRAME=1                                    ; Max outstanding frames
   FRACK=5000                                ; Level 2 timeout (ms)
   RESPTIME=40                               ; Level 2 delayed ACK (ms)
   RETRIES=10                                    ; Level 2 max retries
   PACLEN=236                                     ; Max packet length (bytes)
   TXDELAY=300                                   ; Transmit keyup delay (ms) 200 WORKED, not great, but...
   SLOTTIME=100                                  ; CMSA interval timer (ms)
   TXTAIL=60                                     ; 60 worked, not great but... 75 TOO LONG
   PERSIST=63                                    ; Persistence (256/(# transmissions-1)
   DIGIFLAG=1                                    ; Allow Digipeat on this port
ENDPORT

;**********  Port 2 Telnet **********
PORT
   PORTNUM=2                                     ; Port number
   ID=Telnet Server                              ; PORTS command text
   DRIVER=TELNET                                 ; TCP/IP connection
   CONFIG                                        ; Driver specific configuration from here to ENDPORT
   LOGGING=1                                     ; Log all connections
   DisconnectOnClose=1                           ; Disconnect on close
   TCPPORT=8010                                  ; Port for telnet connections
   FBBPORT=8011                                  ; Port for FBB protocol BBS connections
   HTTPPORT=8008                                 ; Port for web interface
   LOGINPROMPT=user:                             ; Telnet login prompt
   PASSWORDPROMPT=password:                      ; Telnet password prompt
   LOCALECHO=NO                                  ; Do not echo input
   MAXSESSIONS=10                                ; Maxmimum simultaneous connections
   CTEXT=N9RZR BPQ32 Telnet Server\nEnter ? for list of commands\n\n ; Telnet connect message
   USER=ka9cql,abc123,KA9CQL,NODE,SYSOP          ; Telnet user/SYSOP Mike
   USER=n9rzr,abc123,N9RZR,NODE,SYSOP            ; Telnet user/SYSOP Eric
   USER=guest,guest,N0CALL,NODE                  ; Telnet user/guest
   CMS=1                                         ; Enable WinLink CMS connection
   CMSCALL=N9RZR                                 ; Callsign for WinLink
   CMSPASS=abc123                                ; Password for WinLink
ENDPORT

;**********  Port 3  **********
PORT
   PORTNUM=3                                     ; Port number
   ID=AX/IP/UDP                                  ; Displayed by PORTS command
   DRIVER=BPQAXIP                                ; Uses BPQAXIP
   QUALITY=220                                   ; Quality factor applied to node broadcasts heard on
   MINQUAL=165                                   ; Entries in the nodes table with qualities greater or
   MAXFRAME=5                                    ; Max outstanding frames (1 thru 7)
   FRACK=3000                                    ; Level 2 timeout in milliseconds
   RESPTIME=1000                                 ; Level 2 delayed ack timer in milliseconds
   RETRIES=5                                     ; Level 2 maximum retry value
   PACLEN=236                                    ; Maximum packet length
   CONFIG                                        ; Driver specific configuration from here to ENDPORT
   MHEARD                                        ; Keep heard stats
   UDP 10093                                     ; UDP port
   AUTOADDMAP                                    ; Automatically add new connections
   BROADCAST NODES                               ; Broadcast
ENDPORT

;**********  Applications  **********
APPLICATION 1,BBS,,N9RZR-31,N9BBS,255            ; BBS Application
APPLICATION 2,RMS,C 2 CMS,N9RZR-32,N9RMS,255    ; CMS Application
APPLICATION 3,CHAT,,N9RZR-33,N9CHT,255          ; CHAT Application
APPLICATION 32,TALK,,N9RZR                       ; Node Application
